# Google Sheets
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
SPREADSHEET_ID=id_da_sua_planilha_aqui

# SendFlow
SENDFLOW_TOKEN=seu_token_aqui
SENDFLOW_BASE_URL=https://api.sendflow.app/v1
SENDFLOW_GROUP_ID=id_do_grupo_upsell

# Produto low ticket
LOW_TICKET_PRODUCT=Posições Secretas
