SPREADSHEET_ID = "1cZI3Hzth-UmUNL9gIX67IyJj4yJqAMY2Z0BJQ4iOZOk"
COMPRADORES_SPREADSHEET_ID = "12nz62-0u4qYFq0ehPKCAn2fOSOyddsmqe8q8FZaYoBo"
GRUPO_SPREADSHEET_ID = "1AgDE_tGRIpA0JzxTvGhahTVRrF4pbpMpzU-FzYKqc6A"
LOW_TICKET_PRODUCT = "Posições Secretas"

SENDFLOW_TOKEN = "send_api-h2jbbn8zfr0apmn9exp5sqenqnnf4avp6cytw2il"
SENDFLOW_BASE_URL = "https://sendflow.pro/sendapi"
SENDFLOW_ACCOUNT_ID = "XvSZqPtiw7NFp3e1SNcLt9d4V0i1"
SENDFLOW_GROUP_ID = "XvSZqPtiw7NFp3e1SNcLt9d4V0i1"

[gcp_service_account]
type = "service_account"
project_id = "SEU_PROJECT_ID"
private_key_id = "SEU_KEY_ID"
private_key = "-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
client_email = "recovery-dashboard@atomic-quasar-379600.iam.gserviceaccount.com"
client_id = "SEU_CLIENT_ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/recovery-dashboard%40atomic-quasar-379600.iam.gserviceaccount.com"
